// vari
$bodyBgColor = #f7f7f7
$mainBgColor = #ffffff

html
  font-size 10px
  -webkit-text-size-adjust 100%

p
h1
h2
h3
h4
h5
h6
  margin 0

a
  text-decoration none


body
  background-color $bodyBgColor
  font-family "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  overflow-x hidden

  .blog
    min-height 100vh
    background-color $mainBgColor
    margin: 0 auto
    .content
      box-sizing border-box
      width 100%
      padding: 0;
      margin 0 auto
  .site-main
    padding: 20px
