@media (min-width: 768px)
  article
    padding 8rem 0

@media (max-width: 1200px)
  header 
    height: 420px

@media (max-width: 960px)
  header 
    height: 280px

@media (max-width: 480px)
  header 
    height: 190px
    .navbar-brand
      padding: 13px
@media only screen and (min-width: 768px)
  .nav li a
    color: #fff !important
    padding: 20px !important




