@import './search.styl'
.sidebar-container
    .categories-container
        padding: 10px
        p
            padding-bottom: 5px
            color: #999
            font-size: 20px
            font-weight: bold
        a
            display: inline-block
            border: 1px solid rgba(255,255,255,.8)
            border-radius: 999em
            padding: 0 10px
            color: #bfbfbf
            border-color: #bfbfbf;
            line-height: 24px
            font-size: 12px
            text-decoration: none
            margin: 0 1px
            margin-bottom: 6px
            &:hover, &:active
                border-color: #0085a1
                color: #0085a1
    .social-container
        padding: 10px
        p
            padding-bottom: 5px
            color: #999
            font-size: 20px
            font-weight: bold
        .fa
            text-align: left
        .zhihu-icon
            height: 14px
            width: 18px
            background-image: url('/images/zhihu0.png')
            background-repeat: no-repeat
            background-size: contain
        .lofter-icon
            height: 14px
            width: 18px
            background-image: url('/images/lofter.png')
            background-repeat: no-repeat
            background-size: contain
    